<div class="container">
<!--   <h1>2018 - March</h1>
  <div class="grid-calendar">
    <div class="row calendar-week-header">
      <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>M</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>W</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>F</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
    </div>

    <div class="row calendar-week">
      <div class="col-xs-1 grid-cell previous-month"><div><div><span>31</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>1</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>2</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>3</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>4</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>5</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>6</span></div></div></div>
    </div>

    <div class="row calendar-week">
      <div class="col-xs-1 grid-cell"><div><div><span>7</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>8</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>9</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>10</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>11</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>12</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>13</span></div></div></div>
    </div>

    <div class="row calendar-week">
      <div class="col-xs-1 grid-cell"><div><div><span>14</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>15</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>16</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>17</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>18</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>19</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>20</span></div></div></div>
    </div>

    <div class="row calendar-week">
      <div class="col-xs-1 grid-cell"><div><div><span>21</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>22</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>23</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>24</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>25</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>26</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>27</span></div></div></div>
    </div>

    <div class="row calendar-week">
      <div class="col-xs-1 grid-cell"><div><div><span>28</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>29</span></div></div></div>
      <div class="col-xs-1 grid-cell"><div><div><span>30</span></div></div></div>
      <div class="col-xs-1 grid-cell next-month"><div><div><span>1</span></div></div></div>
      <div class="col-xs-1 grid-cell next-month"><div><div><span>2</span></div></div></div>
      <div class="col-xs-1 grid-cell next-month"><div><div><span>3</span></div></div></div>
      <div class="col-xs-1 grid-cell next-month"><div><div><span>4</span></div></div></div>
    </div>
  </div>
</div> -->

<div class="container">
  <h1>Your bookings</h1>

  <div class="tabs">
    <a href="#" class="tab-active">Current bookings</a>
    <a href="#" class="tab">Past bookings</a>
  </div>
    <% if current_user.chef %>
      <% if @bookings.nil? %>
        <h4>You don't have any booking yet, add new meals or wait for clients</h4>
      <% else %>
        <ul class="inbox">
          <% @chef_bookings.each do |booking| %>
            <li class="message">
              <div class="picture">
                <%= cl_image_tag booking.product.photo, crop: :fill, class: 'icon' %>
              </div>

              <div class="text">
                <h4><%= booking.product.name %></h4>
                <p><%= booking.product.description %></p>
                <%= link_to 'See detail', product_path(booking.product), class:"no-decoration" %>
              </div>

              <div class="text flex-booking">
              <h4>Information about this booking</h4>
                <div class="text">
                  <p>Dinner for <%= booking.number_of_covers %> people </p>
                  <p>Scheduled on the <%= booking.date %> </p>
                  <p>Total price: €<%= booking.total_price %></p>
                </div>
                <div class="text">
                  <p>Book by <%= booking.user.first_name %></p>
                  <%= cl_image_tag booking.user.photo, :crop=>"thumb", :width=>50, :height=>50 ,:gravity=>"face",:zoom=>0.1, class:"avatar-large" %>
                </div>
              </div>

              <div>
                <% if booking.status %>
                    <h4>You accepted this booking</h4>
                <% else %>
                    <%= link_to "#{ booking.status ? 'Accepted' : 'Accept' }", toggle_enable_status_booking_path(booking), method: :patch, class: "btn btn-accpt"  %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>

      <% end %>


    <% else %>
      <% if @bookings.nil? %>
        <p>You don't have any booking yet, find your booking</p>
      <% else %>
        <ul class="inbox">
          <% @bookings.each do |booking| %>
            <li class="message">
              <div class="picture">
                <%= cl_image_tag booking.product.photo, crop: :fill, class: 'icon' %>
              </div>

              <div class="text">
                <h4><%= booking.product.name %></h4>
                <p><%= booking.product.description %></p>
                <%= link_to 'See detail', product_path(booking.product), class:"no-decoration" %>
              </div>

              <div class="chef">
                  <h4>Your chef is <%= booking.product.user.first_name %></h4>
                  <%= cl_image_tag booking.product.user.photo, :crop=>"thumb", :width=>50, :height=>50 ,:gravity=>"face",:zoom=>0.1, class:"avatar-large" %>
              </div>

              <div class="price" id="accepted">
                  <% if booking.status %>
                    <h4>Booking accepted</h4>
                  <% else %>
                    <h4>Acceptation pending</h4>
                  <% end %>
                <p>Dinner for <%= booking.number_of_covers %> people </p>
                <p>Price: €<%= booking.product.price %>/pers</p>
              </div>
            </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

