<div class="container">
  <h1>Your bookings</h1>

  <div class="tabs">
    <a href="#" class="tab-active">Current bookings</a>
    <a href="#" class="tab">Past bookings</a>
  </div>
  <ul class="inbox">
    <% if @bookings.nil? %>
    <p>You don't have any booking yet, find your booking</p>
    <% else %>
      <% @bookings.each do |booking| %>
        <li class="message">
          <div class="picture">
            <%= cl_image_tag booking.product.photo, crop: :fill, class: 'icon' %>
          </div>

          <div class="text">
            <h4><%= booking.product.name %></h4>
            <p><%= booking.product.description %></p>
            <%= link_to 'See detail', product_path(booking.product), class:"no-decoration" %>
          </div>

          <div class="chef">
            <% product = Product.find(booking.product_id) %>
            <% user = User.find(product.user_id) %>
            <h4><%= booking.product.user.first_name %></h4>
            <%= cl_image_tag user.photo, :crop=>"thumb", :width=>50, :height=>50 ,:gravity=>"face",:zoom=>0.1, class:"avatar-large" %>
          </div>

          <div class="price" id="accepted">
            <h4>Accepted</h4>
            <p>Dinner for <%= booking.number_of_covers %> people </p>
            <p>Price: €<%= booking.product.price %>/pers</p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>


