
<div class="container">
<h1> Hello <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>

<% if @user.photo != nil %>
  <%= cl_image_tag @user.photo, width: 150, height: 150, crop: :thumb, gravity: :face %>
<% end %>

<h3>Your personal information </h3>

<ul>
  <li><%= @user.email %></li>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.address %></li>
</ul>

<%= link_to 'Edit my information', edit_user_registration_path %>
<br>
<br>

<p><%= link_to "Change my password", edit_user_registration_path %></p>

<% if @user.chef %>
  <h3>Your meals</h3>
<% end %>
</div>
