<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", height: 50 %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to"Post a Meal", new_product_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% if !current_user.nil? && current_user.chef %>
      <%= link_to"Manage my Meals", products_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
    <a href="" class="navbar-wagon-item navbar-wagon-link">My Meals</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <% if user_signed_in? %>
        <div class="dropdown">
          <div class="dropdown-toggle" id:"navbar-wagon-menu", data-toggle="dropdown">
            <% if current_user.photo != nil %>
              <%= cl_image_tag current_user.photo, class:"avatar" %>
            <% else %>
              <button class:"btn btn-primary sign-in">About me</button>
            <% end %>
          </div>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><%= link_to 'My profile', users_profile_path(current_user) %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to 'Edit my information', edit_user_registration_path %></li>
          </ul>
        </div>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path, class:"btn btn-primary sign-in" %></li>
      <% end %>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
