
<div class="container">
  <h1>The amazing meals you are offering</h1>

  <div class="tabs">
    <a href="#" class="tab-active">Your live meals</a>
    <a href="#" class="tab">Other meals</a>
  </div>
  <ul class="inbox">
    <% @products.each do |product| %>
    <li class="message">
      <div class="picture">
        <%= cl_image_tag product.photo, crop: :fill, class: 'icon' %>
      </div>

      <div class="text">
        <h4><%= product.name %></h4>
        <p><%= product.description %></p>
      </div>

      <div class="price" id="accepted">
        <p>Price: €<%= product.price %>/pers</p>
        <%= link_to 'More details', product_path(product), class:"btn btn-success no-decoration see-detail" %>
        <%= link_to 'Modify your meal', edit_product_path(product), class:"btn btn-primary no-decoration modify-mail" %>
      </div>
    </li>
  <% end %>
  </ul>
</div>

