
<div class="container">
  <h1>Your meals</h1>

  <div class="tabs">
    <a href="#" class="tab-active">Your live meals</a>
    <a href="#" class="tab">Other meals</a>
  </div>
  <ul class="inbox">
    <% @products.each do |product| %>
    <li class="message">
      <div class="picture">
        <%= cl_image_tag product.photo, crop: :fill, class: 'icon' %>
      </div>

      <div class="text">
        <h4><%= product.name %></h4>
        <p><%= product.description %></p>
      </div>


      <div class="price" id="accepted">
        <p>Dinner for max <%= product.max_cover %> people </p>
        <p>Price: €<%= product.price %>/pers</p>
        <%= link_to 'See detail', product_path(product), class:"no-decoration" %>
      </div>
    </li>
  <% end %>
  </ul>
</div>

