<div class="container">
  <h1>What is your Meal?</h1>

  <!-- app/views/restaurants/_form.html.erb -->
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :price %>
<!-- f.input :covers -->
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Submit your Meal", class: "btn btn-primary" %>
    <% if @product.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- [...] all the fields -->
  <% end %>
</div>

