
        <div class="head-show"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @product.photo, crop: :fill %>')">
  <div class="card-category"></div>
  <div class="card-description">
    <h2><%= @product.name.upcase %></h2>
    <div class="square-font">
    <p><%= @product.category.upcase %></p>
    </div>
  </div>
  <a class="card-link" href="#" ></a>
</div>
  <p>Rating</p>
  <%= link_to "Submit a review", new_product_review_path(@product) %>
  <i class="fas fa-star gold"></i>
  <i class="fas fa-star gold"></i>
  <i class="fas fa-star gold"></i>
  <i class="fas fa-star gold"></i>
  <% @product.reviews.each do |review| %>
    <%= review.content %>
  <% end %>
</div>



<div class="container-show">

    <div class="prof-show">
        <% user = User.find(@product.user_id) %>
        <%= cl_image_tag user.photo, :crop=>"thumb", :width=>200, :height=>200 ,:gravity=>"face",:zoom=>0.2, class: 'avatar-show' %>
        <div class="name-chef-show">
          <h4><%= user.first_name %></h4>
        </div>
        </div>


        <h3><%= @product.price %></h3>
        <p>euros / person</p>
        <a href="#">Other</a><span> |</span>
        <a href="#">Contact</a>

        <p class="text-justify"><%= @product.description %></p>

        <%= render 'shared/booking-form', booking: @booking, product: @product %>

        <%= link_to "Back to all meal", products_path %>
</div>
