<div class="container">
  <div class="conts text-center">
    <div class="card-show profile">
      <div class="card-content">
        <h3><%= @product.name %></h3>
        <%= cl_image_tag @product.photo, crop: :fill,:height=>200 , class: 'icon' %>
        <h4><strong>Category:</strong> <%= @product.category %></h4>
        <p class="text-justify"><%= @product.description %></p>
      </div>
    </div>

    <div class="card-show contribution">
      <div class="card-content">
        <% user = User.find(@product.user_id) %>

        <h3><%= user.first_name %></h3>

        <%= cl_image_tag user.photo, :crop=>"thumb", :width=>200, :height=>200 ,:gravity=>"face",:zoom=>0.2, class: 'avatar-show' %>

        <p>Ratings</p>
        <i class="fas fa-star gold"></i>
        <i class="fas fa-star gold"></i>
        <i class="fas fa-star gold"></i>
        <i class="fas fa-star gold"></i>
        <h3><%= @product.price %></h3>
        <p>euros / person</p>
        <a href="#">All meal</a><span> |</span>
        <a href="#">Contact</a>
      </div>
    </div>

<!--     <div class="card-show follower">
      <div class="card-content">
      </div>
    </div>

    <div class="card-show repository">
      <div class="card-content">
      </div>
    </div> -->

    <div class="card-show about">
      <div class="card-content">
<!--         <h3>More about <%= @product.user_id%></h3>
        <p class="text-justify"><%= @product.description %></p>
        <#%= link_to "Book this Meal", new_product_booking_path(@product), class: "btn btn-danger" %> -->

        <%= render 'shared/booking-form', booking: @booking, product: @product %>

        <%= link_to "Back to all meal", products_path %>
      </div>
    </div>
  </div>
</div>

